body, ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.demo {
  margin: 20px 0;
}

.page-content {
  max-width: 1190px;
  margin: 0 auto;
  padding: 20px;
}

.toggle-demo-1 {
  h2 {
    color: #072;
    font-size: 16px;
    font-weight: normal;
  }
  .tags {
    .clearfix();
    >li {
      float: left;
      margin: 0 4px 4px 0;
      padding: 4px 16px;
      border: 1px solid #eaeaea;
      font-size: 14px;
      cursor: pointer;

      &.active {
        border: 1px solid #afcb9f;
        background: #d6e9c4;
      }
    }
  }
}

.toggle-demo-2 {
  .panel {
    display: none;
    border: 1px solid #afcb9f;
    margin-top: 10px;
    width: 600px;
    height: 200px;

    &.active {
      display: block;
    }
  }
}